body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}
body.no-scroll {
  overflow: hidden;
}
h1{
  margin-left: 1.5rem !important;
  font-size: 1.5rem;
}
h1,
h2,
h3,
p,
button {
  margin: 0;
  text-align: left;
}

main {
  /*margin: 2.5rem 0 5rem 0;*/
  margin: 0 0 5rem 0;
}

/*COLORS*/
.red-bg {
  background-color: #e93f33;
  color: white;
}

a{
  color: #1c1c1c;
  text-decoration: none;
}

/*Burger Menu*/
.burger-menu {
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  z-index: 99999999;
}
@media screen and (min-width: 900px) {
  .burger-menu {
    width: 40vw;
  }
}
.burger-menu .menu-wrapper {
  padding: 0 1rem;
}
.burger-menu ul {
  padding: 0;
}
.burger-menu a {
  color: #1c1c1c;
  text-decoration: none;
}
.burger-menu li {
  list-style: none;
  /*color: #e93f33;*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.55rem;
}
#media-page, #map-page{
  font-size: 1.2rem;
}

/*Buttons*/
.icon {
  color: #fff;
}
.icon-red {
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #e93f33;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
}
.action-btn {
  padding: 1rem;
  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
}
.btn-del {
  background-color: #e93f33;
  color: white;
}
.btn-edit {
  background-color: #fff;
  color: #e93f33;
}
.btn-add {
  background-color: #62965a;
  color: white;
}

/*Input*/
input {
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-bottom: 2px solid #62965a;
}

/*Map*/
.popup-link {
  border: none;
  background: none;
  text-decoration: underline;
}

/*notice*/
.notice {
  color: #e93f33;
  padding: 2rem 0;
  font-weight: bold;
  padding: 1rem;
}
img.prev {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 1rem 0;
  margin: auto;
}

.inputs-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
}

.btn-pair{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pair button{
  flex: 1;
}

/*Map*/
#map + .details-view{
  z-index: 9999;
}
.popup-link{
  color: #e93f33;
}