body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
button {
  margin: 0;
  text-align: left;
}

main {
  margin: 2.5rem 0 5rem 0;
}

/*COLORS*/
.red-bg {
  background-color: #e93f33;
  color: white;
}

/*Burger Menu*/
.burger-menu {
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  z-index: 99999999;
}
@media screen and (min-width: 900px) {
  .burger-menu {
    width: 40vw;
  }
}
.burger-menu .menu-wrapper {
  padding: 2rem 1rem;
}
.burger-menu ul {
  padding: 0;
}
.burger-menu a {
  color: #1c1c1c;
  text-decoration: none;
}
.burger-menu li {
  list-style: none;
  background-color: white;
  /*color: #e93f33;*/
  padding: 1rem 0.5rem;
  font-weight: bold;
  border-bottom: 2px solid #e93f33;
}

/*Buttons*/
.icon{
  color: #fff;
}
.icon-red{
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #e93f33;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
}
.action-btn {
  padding: 1rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-del {
  background-color: #e93f33;
  color: white;
}
.btn-edit {
  background-color: #fff;
  color: #e93f33;
}
.btn-add {
  background-color: #62965a;
  color: white;
}

/*Input*/
input {
  padding: .5rem;
  margin: 1rem;
  border: none;
  border-bottom: 2px solid #62965a;
}

/*Map*/
.popup-link{
  border: none;
  background: none;
  text-decoration: underline;
}
